<h1> The Peep Show </h1>
<p> Peep away... </p>

<ul>

  <form action="/peeps/new" method="get">
    <input type="submit" value="Add a peep" />
  </form>

  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
    <%= peep.text %>
    Peeped at: <%= peep.created_at[0..15] %>

    <form action="/peeps/<%= peep.id %>/comments/new" method="get">
      <input type="submit" value="Add Comment" />
    </form>
    <% @comments = Comment.find(peep.id) %>
    <% @comments.each do |comment| %>
    <p><%= comment.comment %></p>
    <% end %>
    </li>
<% end %>
