<h1> The Peep Show </h1>
<p> Peep away... </p>

<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<ul>
<% #new peep %>
  <form action="/peeps/new" method="get">
    <input type="submit" value="Add a peep" />
  </form>

<% #list peeps %>
  <% @peeps.each do |peep| %>
    <li class="peep" id="peep-<%= peep.id %>">
    <%= peep.text %>
    Peeped at: <%= peep.created_at[0..15] %>
  

<% #delete comment%>
<form action="/peeps/<%= peep.id %>" method="post">
<input type='hidden' name='_method' value='DELETE'/>
<input type="submit" value="Delete" />
</form>

<% #new comment %>
    <form action="/peeps/<%= peep.id %>/comments/new" method="get">
      <input type="submit" value="Add Comment" />
    </form>
    <% @comments = Comment.find(peep.id) %>
    <% @comments.each do |comment| %>
    <p><%= comment.comment %></p>
    <% end %>
</form>
    </li>
<% end %>
